body {
	COLOR:#F5F5F5;
	BACKGROUND-COLOR:#ffffff;
	FONT-SIZE:9pt;
	FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	
	scrollbar-face-color: #F0F8FF; 
	scrollbar-shadow-color: #B0C4DE;  
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #B0C4DE; 
	scrollbar-darkshadow-color: #96AABD; 
	scrollbar-track-color: #B0C4DE; 
	scrollbar-arrow-color: #4682B4;   	
}

td {
	COLOR:#000000;
	FONT-SIZE:9pt;
	FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
}

th {
	COLOR:#000000;
	FONT-SIZE:9pt;
	FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
}

.body_bg_grey1{
	BACKGROUND-COLOR:#F5F5F5;
	scrollbar-face-color: #F0F8FF; 
	scrollbar-shadow-color: #B0C4DE;  
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #B0C4DE; 
	scrollbar-darkshadow-color: #96AABD; 
	scrollbar-track-color: #B0C4DE; 
	scrollbar-arrow-color: #4682B4;   	
}
.body_bg_grey2{
	BACKGROUND-COLOR:#EFF3F7;	
}
.body_bg_grey3{
	BACKGROUND-COLOR:#DCDCDC;	
}
.body_bg_white{
	BACKGROUND-COLOR:#ffffff;	
}



A:link {
    FONT-SIZE:9pt;
	COLOR:#0000CD;
	TEXT-DECORATION:None
}
A:visited {
    FONT-SIZE:9pt;
	COLOR:#000000;
	TEXT-DECORATION:None
}
A:active {
    FONT-SIZE:9pt;
	COLOR:#000000;
	TEXT-DECORATION:None
}
A:hover {
    FONT-SIZE:9pt;
	COLOR:#6A5ACD;
	TEXT-DECORATION:UnderLine
}


A.fontlink1:link {
    FONT-SIZE:9pt;
	COLOR:#3333cc;
	TEXT-DECORATION:None
}
A.fontlink1:visited {
    FONT-SIZE:9pt;
	COLOR:#6666ff;
	TEXT-DECORATION:None
}
A.fontlink1:active {
    FONT-SIZE:9pt;
	COLOR:#000000;
	TEXT-DECORATION:None
}
A.fontlink1:hover {
    FONT-SIZE:9pt;
	COLOR:#6A5ACD;
	TEXT-DECORATION:UnderLine
}


A.tab_white:link {
    FONT-SIZE:9pt;
	COLOR:#ffffff;
	TEXT-DECORATION:None
}
A.tab_white:visited {
    FONT-SIZE:9pt;
	COLOR:#ffffff;
	TEXT-DECORATION:None
}
A.tab_white:active {
    FONT-SIZE:9pt;
	COLOR:#ffffff;
	TEXT-DECORATION:None
}
A.tab_white:hover {
    FONT-SIZE:9pt;
	COLOR:#666666;
	TEXT-DECORATION:UnderLine
}



.Textfield{
	BACKGROUND-COLOR:#FFFFFF;
	COLOR:#000000;
	FONT-SIZE:9pt;
	FONT-WEIGHT:normal;
	TEXT-DECORATION:none;
	FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
	TEXT-ALIGN:left;
	border: 1px solid #483D8B;	  
}

.Textfield-READONLY{
	BACKGROUND-COLOR:#F5F5F5;
	COLOR:#000000;
	FONT-SIZE:9pt;
	FONT-WEIGHT:normal;
	TEXT-DECORATION:none;
	FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
	TEXT-ALIGN:left;
	border: 1px solid #483D8B;
}

.Radiobutton{
	COLOR:#000000;
}

.Checkbox{
    COLOR:#000000;
}

.Select{
	BACKGROUND-COLOR:#FFFFFF;
	COLOR:#000000;
	FONT-SIZE:9pt;
	FONT-WEIGHT:normal;
	TEXT-DECORATION:none;
	FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
	TEXT-ALIGN:left;
	border: 1px solid #6396D6;
}

.Select-Multiple{
	BACKGROUND-COLOR:#eeeeee;
	COLOR:#333333;
	FONT-SIZE:9pt;
	FONT-WEIGHT:normal;
	TEXT-DECORATION:none;
	FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
	TEXT-ALIGN:left;	
	BORDER-RIGHT: #333366 1px solid;
	BORDER-TOP: #333366 1px solid;
	BORDER-LEFT: #333366 1px solid;
	BORDER-BOTTOM: #333366 1px solid;
}


.TEXTAREA{
    BACKGROUND-COLOR:#FFFFFF;
    COLOR:#000000;
    FONT-SIZE:9pt;
    FONT-WEIGHT:normal;
    TEXT-DECORATION:None;
    FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
    TEXT-ALIGN:Left;
    border: 1px solid #483D8B;	 
    overflow:auto    
}

.Button{
    background-image: url( "../images/Skin/Skin_07/button_blue2.jpg" );
    background-repeat: no-repeat;    
	height: 22px;
	width:78px;	
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    COLOR:#000000;
    font-weight: normal;
	FONT-SIZE:9pt;	
    FONT-FAMILY:宋体,verdana,Arial, Helvetica;
	TEXT-DECORATION: None;
	border-top: 0px #003C73 solid;
    border-right: 0px #003C73 solid;
    border-bottom: 0px #003C73 solid;
    border-left: 0px #003C73 solid;
}

.Button1{
    background-image: url( "../images/Skin/Skin_07/perm_tab_blue3.jpg" );
    background-repeat: no-repeat;    
	height: 25px;
	width:82px;	
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 2px;
    COLOR:#ffffff;
    font-weight: normal;
	FONT-SIZE:9pt;	
    FONT-FAMILY:宋体,verdana,Arial, Helvetica;
	TEXT-DECORATION: None;
	border-top: 0px #003C73 solid;
    border-right: 0px #003C73 solid;
    border-bottom: 0px #003C73 solid;
    border-left: 0px #003C73 solid;
}
.Button2{
    background-image: url( "../images/Skin/Skin_07/perm_tab_gray3.jpg" );
    background-repeat: no-repeat;    
	height: 25px;
	width:82px;	
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 2px;
    COLOR:#ffffff;
    font-weight: normal;
	FONT-SIZE:9pt;	
    FONT-FAMILY:宋体,verdana,Arial, Helvetica;
	TEXT-DECORATION: None;
	border-top: 0px #003C73 solid;
    border-right: 0px #003C73 solid;
    border-bottom: 0px #003C73 solid;
    border-left: 0px #003C73 solid;
}

.Button5{
	background-image: url( "../images/Skin/Skin_07/bg_table_head_grey.jpg" );
    background-repeat: repeat-x;	   
	height: 22px;
	width:100px;	
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    COLOR:#000000;
    font-weight: normal;
	FONT-SIZE:9pt;	
    FONT-FAMILY:宋体,verdana,Arial, Helvetica;
	TEXT-DECORATION: None;
	border-top: 1px #483D8B solid;
    border-right: 1px #483D8B solid;
    border-bottom: 1px #483D8B solid;
    border-left: 1px #483D8B solid;
}

.Button_Search{
    background-image: url( "../images/Skin/Skin_07/head_search.gif" );
    background-repeat: no-repeat;    
	height: 22px;
	width:52px;	
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;    
    font-weight: normal;
	FONT-SIZE:9pt;	
    FONT-FAMILY:宋体,verdana,Arial, Helvetica;
	TEXT-DECORATION: None;
	border-top: 0px #003C73 solid;
    border-right: 0px #003C73 solid;
    border-bottom: 0px #003C73 solid;
    border-left: 0px #003C73 solid;
}

.Button_Download{
    background-image: url( "../images/Skin/Skin_07/head_download.gif" );
    background-repeat: no-repeat;    
	height: 22px;
	width:52px;	
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;    
    font-weight: normal;
	FONT-SIZE:9pt;	
    FONT-FAMILY:宋体,verdana,Arial, Helvetica;
	TEXT-DECORATION: None;
	border-top: 0px #003C73 solid;
    border-right: 0px #003C73 solid;
    border-bottom: 0px #003C73 solid;
    border-left: 0px #003C73 solid;
}

.Button_Time{
    background-image: url( "../images/Skin/Skin_07/clock2.gif" );
    background-repeat: no-repeat;    
	height: 24px;
	width:24px;	
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 2px;
    COLOR:#ffffff;
    font-weight: normal;
	FONT-SIZE:9pt;	
    FONT-FAMILY:宋体,verdana,Arial, Helvetica;
	TEXT-DECORATION: None;
	border-top: 0px #003C73 solid;
    border-right: 0px #003C73 solid;
    border-bottom: 0px #003C73 solid;
    border-left: 0px #003C73 solid;
}


.dtPanel_Title {
	COLOR:#666666;
	FONT-SIZE:9pt;
	FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
	font-weight: bold;
	line-height: 25px;
}

.dtPanel_Top01 {
	background-image: url( "../images/Skin/Skin_07/bg_table_head_grey.jpg" );
    background-repeat: repeat-x;	
	background-color:#ffffff;
	white-space: nowrap;
	COLOR:#000000;
	FONT-SIZE:9pt;
	FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
	font-weight: bold;
	height: 24px;	
	border:0px;
}

.dtPanel_Top02 {

}

.dtPanel_Left {
	background-color:#F5F5F5;
	COLOR:#000000;
	FONT-SIZE:9pt;
	FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
}

.dtPanel_Left_v {
	background-color:#ffffff;
	COLOR:#000000;
	FONT-SIZE:9pt;
	FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
}

.dtPanel_Main {
	background-color:#ffffff;
	COLOR:#000000;
	FONT-SIZE:9pt;	
	FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
	height:26px;
}

.dtPanel_Main2 {
	background-color:#F5F5F5;
	COLOR:#000000;
	FONT-SIZE:9pt;	
	FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
	height:26px;
}

.selectTr {
	background-image: url( "../images/Skin/Skin_07/bg_select_focus_blue.gif" );
    background-repeat: repeat-x;    
	COLOR:#000000;
	FONT-SIZE:9pt;
	FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
	height:26px;
}

.dtPanel_Bottom {
	
}

.dtPanel_Line {
	
}

.dtPanel_Line1 {
	background-color:#999999;
}

.dtPanel_Line2 {
	background-color:#F0F8FF;
}

.dtPanel_Line3 {
	background-color:#DCDCDC;
}


.dtPanel_Pager {
	background-color:#CCCCCC;
	height:25;
}


.heightspace_top1{
	height:5;
	
}

.heightspace_top2{
	height:3;
	
}
.heightspace_top3{	
}

.heightspace_bottom1{
	height:5px;
}

.heightspace_bottom2{
	
}



.IdxFrame_Top_Frame{
	background-color:#EFF3F7;
}

.IdxFrame_Top_Main{
	COLOR:#FFFFFF;
	background-image: url( "../images/Skin/Skin_07/bar2.jpg" );
    background-repeat: repeat-x;		
	FONT-SIZE:9pt;
	FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
	
}

.IdxFrame_Bar{
	background-color:#C0CFE4;
	COLOR:#FFFFFF;
	FONT-SIZE:9pt;
	FOTN-FAMILY:宋体,verdana,Arial, Helvetica;
}

.DTreeBG{
    background-color: #E7EBEF;
}

.WhiteFont {
	color: #FFFFFF;
}

.GrayFont {
	color: #666666;	
}

.BlackFont {
	color: #000000;
	FONT-SIZE:9pt;
}

.BlueFont {
	color: #483D8B;	
}

.background_c1{
	background-image: url( "../images/Skin/Skin_02/perm_bg_blue.jpg" );
	
}


